:root {
    --primary-color: #00796b;
    --primary-light: #48a999;
    --primary-dark: #004c40;
    --secondary-color: #f4511e;
    --secondary-light: #ff844c;
    --secondary-dark: #b91400;
    --font-light: #ffffff;
    --font-dark: #000000;
}
